<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<title>Топ</title>
<link rel="shortcut icon" type="image/png" th:href="@{/image/mimimetr-logo.png}">

<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/top-cats.css}" rel="stylesheet" />
</head>
<body>
  <div id="page">
    <div id="header">
      <div id="header-container">
        <div id="header-img">
          <img alt="Тут картинка" th:src="@{/image/mimimetr-logo.png}" height="64" width="64">
        </div>
        <div id="header-text">Мимимиметр</div>
      </div>

    </div>
    <div id="exit">
    <a th:href="@{/mimimimetr}">Назад&nbsp;&nbsp;</a>
      <div class="username" sec:authentication="name"></div>
      <a th:href="@{/logout}">Выйти</a>
    </div>
    <div id="content">
      <div class="cat" th:each="result, iStat : ${voteResults}">
        <div class="cat-position" th:text="${(iStat.index + 1) + '(' + result.numberVotes + ')'}"></div>
        <div class="cat-img"><img th:src="${result.cat.srcLocation}" alt="" height="200" width="350"></div>
        <div class="cat-name" th:text=${result.cat.name}></div>
      </div>
    </div>
  </div>
</body>
</html>